{{ if .Params.toc | default .Site.Params.enableToc }}
    
        
        <!-- ignore empty links with + -->
        {{ $headers := findRE "<h[1-4].*?>(.|\n])+?</h[1-4]>" .Content }}
        <!-- at least one header to link to -->
        {{ if ge (len $headers) 1 }}
            {{ $h1_n := len (findRE "(.|\n])+?" .Content) }}
            {{ $re := (cond (eq $h1_n 0) "<h[2-4]" "<h[1-4]") }}
            {{ $renum := (cond (eq $h1_n 0) "[2-4]" "[1-4]") }}
            <div class="index-div">
                <div class="single-index">
                    <h4>
                        <i class="ri-list-check-2"></i>
                        {{ i18n "postToc" }}
                    </h4>
                </div>  
                <ul id="article-index" class="index-ul">
                    {{ .TableOfContents }}
                </ul>
            </div>
        {{ end }}
{{- end -}}
