{{ if or (.Params.Categories) (.Params.statusCate) }}
    {{ if .Params.buy }}
        <div>
            <div class="buy-list-item">
                <div class="buy-left-img-noborder">
                    <img src="{{ .Params.buyImage }}">
                </div>
                <div class="buy-right-info">
                    <div>
                        <a href="{{ .Params.buyLink }}" target="_blank">
                            <h3>
                                {{ .Params.buyName }}
                            </h3>
                        </a>
                        <p>
                            {{ .Params.buyInfo }}
                       </p>
                   </div>
                   <div>
                        <a href="{{ .Params.buyLink }}" target="_blank">
                            {{ .Params.buyButtonText }}
                            <span>
                                <i class="ri-arrow-right-up-line">
                                </i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ if not .Params.status }}
            {{ if .Params.categoryLink }}
                <div>
                    <a href="{{ .Params.categoryLink }}" class="img-cate list-normal-tag" style="color: rgba(255, 152, 0, 0.83) !important;">
                        <b>{{ delimit .Params.Categories " | " }}</b>
                    </a>
                </div>
            {{ else }}
                <div>
                    <em class="article-list-type1">
                        <b>{{ delimit .Params.Categories " | " }}</b>
                    </em>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
<div>
    {{ if not .Params.status }}
        <a href="{{ .Permalink | relURL }}" class="" style="text-decoration: none;">
            <h5 style="margin: 15px 0px 0px; padding: 0px;">{{.Title}}</h5>
        </a>
        <p>{{ .Summary }}...</p>
    {{ else }}
        <h3 class="article-list-content article-status">{{ .Content | plainify}}</h3>
    {{ end }}
    <div class="article-list-footer">
        <span class="article-list-date">{{ .Date.Format "02-01-06" }}</span>
        {{ if .Params.buy }}
            {{ if .Params.Categories }}
                <span class="article-list-divider">-</span>
                <a class="article-list-date" style="margin: 0px;">{{ delimit .Params.Categories " | " }}</a>
            {{ end }}
        {{ end }}
        {{ if .Params.status}}
            <span class="article-list-divider">-</span>
            <span class="article-list-minutes">
                <i class="ri-contrast-2-line"></i>
                状态 | {{ .Params.statusCate }}
            </span>
        {{ end }}
    </div>
</div>