{{ define "main" }}
    <main class="main list" id="main">
        <div id="post-container">
            <div class="grid grid-centered" style="max-width: 660px; padding: 0px 20px; margin-top: 80px;">
                <div id="grid-cell" class="grid-cell">
                    {{ partial "pages/taxonomy-header.html" . }}
                    <ul class="article-list">
                        {{ $pages := .Scratch.Get "pages" }}
                        {{ range (where .Site.RegularPages "Section" "in" .Site.Params.mainSections).GroupByDate "2006" }}
                            <li class="article-list-item reveal index-post-list archive">
                                <h2>{{ .Key }}</h2>
                                {{ range .Pages.GroupByDate "2006 / 1" }}
                                    <h3>{{ .Key }}</h3>
                                    {{ range .Pages }}
                                        {{ if not .Params.noclick }}
                                            <div>
                                                <a href="{{ .RelPermalink }}" class="post-a">
                                                    <p>
                                                        <em class="post-date">{{ .PublishDate.Format "2006-01-02" }}</em>
                                                        {{ .LinkTitle }}
                                                    </p>
                                                </a>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        {{ partial "script.html" . }}
    </main>
{{ end }}