<div>
    <div class="goup-container footer-github">
        <a href="{{ .Site.Author.github }}" target="_blank" style="text-decoration:none">
            <i class="ri-github-fill footer-github-icon">
            </i>
        </a>
    </div>
    <div class="footer reveal">
        <p>
            Copyright©2020-2020&nbsp;·&nbsp;{{ .Site.Author.name }}&nbsp;·&nbsp;
            <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank"
            style="text-decoration: none;color: inherit;font-size: 14px;font-weight: 500;">
                CC BY-NC 4.0
            </a>
        </p>
    </div>
</div>
{{ partial "custom/footer.html" . }}