<script src="{{ "/js/jquery.min.js" | relURL }}"></script>
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.5/dist/medium-zoom.min.js"></script>
<script>
    $header = $('#header-div');
    SY = window.scrollY;
    function setHeader(type) {
        $header.attr('class','tony-header-' + type);
    }
    window.onscroll = function () {
        SY = window.scrollY;
        if (SY > 0) setHeader('scroll');
        else setHeader('fixed');
    }
    $header.hover(function () {
        setHeader('scroll');
    });
    $header.mouseout(function () {
        if(SY === 0) setHeader('fixed');
    });
    /////////////////////////////////////////////////
    $tsl = $('#tags-scroll-left');
    $tsr = $('#tags-scroll-right');
    $tags = $('#post_tags .cat-real');
    var deg = 0, tagsWidth = 0;
    for(let i = 0;i < $tags.length;i++){
        tagsWidth += $tags[i].scrollWidth;
    }
    function tagsTransform(d) {
        deg += d;
        $tags.each(function(){
            $(this).attr('style','transform:translateX('+ deg + 'px)');
        });
    }
    $tsl.click(function () {
        if (deg < 0) tagsTransform(60);
    });
    $tsr.click(function(){
        if (deg >= -tagsWidth-36) tagsTransform(-60);
        if(deg < -tagsWidth-36) {
            deg = -tagsWidth-36;
            $tags.each(function(){
                $(this).attr('style','transform:translateX('+ deg + 'px)');
            });
        }
    });
	mediumZoom(document.querySelectorAll('div.article-content img'), {
        background: '#fff'
    });
    {{ partial "custom/script.html" . }}
</script>