<script>
    header = document.getElementById('header-div');
    SY = window.scrollY;
    function setHeader(type) {
        header.setAttribute('class','tony-header-' + type);
    }
    window.onscroll = function () {
        SY = window.scrollY;
        if (SY > 0) setHeader('scroll');
        else setHeader('fixed');
    }
    header.addEventListener('mouseover', function () {
        setHeader('scroll');
    });
    header.addEventListener('mouseout', function () {
        if(SY === 0) setHeader('fixed');
    });
    {{ partial "custom/script.html" . }}
</script>