<!DOCTYPE html>
<html lang="zh">
    <head>
        {{ partial "head.html" . }}
    </head>
    <header id="header-div" class="tony-header-scoll">
        {{ partial "header.html" . }}
    </header>
    <body>
        <div id="index">
            <div class="grid grid-centered" style="max-width: 660px; padding: 0px 20px; margin-top: 80px;">
                <div id="grid-cell" class="grid-cell">
                    {{ partial "components/home/header-info.html" . }}

                    {{ partial "components/home/article-list.html" . }}
                </div>
            </div>
        </div>
    </body>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</html>