<!DOCTYPE html>
<html lang="zh">
    {{ partial "head.html" . }}

    {{ partial "header.html" . }}
    <body>
        <div id="index" class="pjax-container">
            <div class="grid grid-centered" style="max-width: 660px; padding: 0px 20px; margin-top: 80px;">
                <div id="grid-cell" class="grid-cell">
                    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
                    
                    {{ partial "components/home/header-info.html" . }}

                    {{ partial "components/home/article-list.html" . }}
                    
                    {{ partial "components/home/adjacent-pages.html" (dict "paginator" $paginator) }}
                    
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" . }}

    {{ partial "script.html" . }}
</html>